<div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
          	<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Cliffwater Direct Lending Index </span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>
              </a>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Illustrative capitalization <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  U.S. Corporate Debt Market
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  U.S. middle market direct loans
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cliffwater Direct Lending Index (CDLI)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                   <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Industry and Credit composition
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cumulative Total Return Comparison
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI income return
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Cumulative Total Return Comparison
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Yield by credit seniority
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI net realized, unrealized gains (losses)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  Comparative realized credit losses
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI total return
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers"><polygon points="12 2 2 7 12 12 22 7 12 2"></polygon><polyline points="2 17 12 22 22 17"></polyline><polyline points="2 12 12 17 22 12"></polyline></svg>
                  CDLI direct loan pricing
                </a>
              </li>
              
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Potential Returns</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Available Risk Premiums
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Mapping of Representative List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Cumulative Erosion
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                  Net Realized Losses vs. Income
                </a>
              </li>
            </ul>
          </div>
        </nav>

       

<main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
	<div class="container-fluid dashboardSec">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>Illustrative capitalization of $40m EBITDA middle market company</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Illustrative capitalization of $40m EBITDA middle market company</p>
				  </div>
				</div>
			</div>
			<p>&nbsp;</p>
			<div class="col-sm-12">
				<div class="card">
				  <div class="card-header">
				    <h5>U.S. corporate debt financing</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Private direct lending provides 4% of U.S. corporate debt financing</p>
				    <div id="piechart_div" style="width: 900px; height: 500px;"></div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Key characteristics of U.S. middle market direct loans</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Key characteristics of U.S. middle market direct loans</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>The Cliffwater Direct Lending Index (CDLI)</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">The Cliffwater Direct Lending Index (CDLI)</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Middle Market Direct Loans by Industry</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Middle Market Direct Loans by Industry</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Middle Market Direct Loans by Credit Type</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Middle Market Direct Loans by Credit Type</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI performance</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">CDLI performance</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Cumulative Total Return Comparison</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Cumulative Total Return Comparis</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Income Return</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">CDLI Income Return</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Yield Comparison</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Yield Comparison</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Yield by credit seniority</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Yield by credit seniority</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Comparative realized credit losses</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Comparative realized credit losses</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Net Realized Gains (Losses)</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">CDLI Net Realized Gains (Losses)</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Net Unrealized Gains (Losses)</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">CDLI Net Unrealized Gains (Losses)</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI Total Return (trailing 4 quarter)</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">CDLI Total Return (trailing 4 quarter)</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>CDLI direct loan pricing</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">CDLI direct loan pricing</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Available Risk Premiums in Direct U.S. Middle Market Loans</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Available Risk Premiums in Direct U.S. Middle Market Loans</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Mapping of Representative List of Direct Lending Managers</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Mapping of Representative List of Direct Lending Managers</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Managers vary widely in their ability to limit net realized losses</h5>
				  </div>
				  <div class="card-body">
				    <!--<h5 class="card-title">Illustrative capitalization of $40m EBITDA middle market company</h5>-->
				    <p class="card-text">Managers vary widely in their ability to limit net realized losses</p>
				  </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="card">
				  <div class="card-header">
				    <h5>Manager differences carry over to longer time periods</h5>
				  </div>
				  <div class="card-body">
				    <p class="card-text">Manager differences carry over to longer time periods</p>
				  </div>
				</div>
			</div>
		</div>
	</div>
</main>
      </div>
    </div>