<main role="main">

<ngb-carousel>
  <ng-template ngbSlide>
    <img src="assets/img/HedgeFund2.jpg" alt="Random first slide" style="width: 100%;height:500px;">
    <!--<div class="carousel-caption text-left">
        <h1>Hedge Funds</h1>
        <h3>Cliffwater's client largely invest directly in hedge funds, diversified by style, including market neutral, credit, distressed, event driven, equity long/short, macro and multi-strategy funds.</h3>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a></p>
      </div>-->
      <div class="carousel-caption justify-content-center">
        <div class="col-10 align-center">
            <h2 class="mbr-fonts-style display-1">HEDGE FUNDS</h2>
            <p class="lead mbr-text mbr-fonts-style display-5">Cliffwater's client largely invest directly in hedge funds, diversified by style, including market neutral, credit, distressed, event driven, equity long/short, macro and multi-strategy funds.
            </p>
            <div class="mbr-section-btn" buttons="0">
              <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
            </div>
        </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/PrivateEquity.jpg" alt="Random second slide" style="width: 100%;height:500px;">
   <!--<div class="carousel-caption text-left">
        <h1>Private Equity</h1>
        <h3>Cliffwater's philosophy is to identify a select group or private equity partnerships managed by firms that Cliffwater believes can produce first quartile investment returns.</h3>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a></p>
      </div>-->
      <div class="carousel-caption justify-content-center">
        <div class="col-10 align-center">
            <h2 class="mbr-fonts-style display-1">PRIVATE EQUITY</h2>
            <p class="lead mbr-text mbr-fonts-style display-5">Cliffwater's philosophy is to identify a select group or private equity partnerships managed by firms that Cliffwater believes can produce first quartile investment returns.
            </p>
            <div class="mbr-section-btn" buttons="0">
              <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
            </div>
        </div>
      </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/img/RealAsset.png" alt="Random third slide" style="width: 100%;height:500px;">
    <!--<div class="carousel-caption text-left">
        <h1>Real Assets</h1>
        <h3>Cliffwater combines private and public investments to achieve a diversified global real assets portfolio that is intended to have a low correlation with public equities, a significant real return, and a high correlation to inflation.</h3>
        <p><a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a></p>
      </div>-->
      <div class="carousel-caption justify-content-center">
        <div class="col-10 align-center">
            <h2 class="mbr-fonts-style display-1">REAL ASSETS</h2>
            <p class="lead mbr-text mbr-fonts-style display-5">Cliffwater combines private and public investments to achieve a diversified global real assets portfolio that is intended to have a low correlation with public equities, a significant real return, and a high correlation to inflation.
            </p>
            <div class="mbr-section-btn" buttons="0">
              <a class="btn btn-lg btn-primary" href="#" role="button">READ MORE</a>
            </div>
        </div>
      </div>
  </ng-template>
</ngb-carousel>

<!--<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Punny headline</h1>
        <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple's marketing pages.</p>
        <a class="btn btn-outline-secondary" href="#">Coming soon</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>-->

    <div class="container-fluid bg-grey aboutUs">
      <div class="row container">
          <div class="col-sm-9">
              <h2>Who We Are</h2>
              <br/>
              <h4>Cliffwater LLC provides investment advisory services to a variety of clients, primarily institutions, such as endowments, foundations, retirement systems, and financial institutions.</h4>
              <br/>
              <p>Cliffwater assists clients globally in their allocations to alternative investments, including hedge funds, private equity, real estate, real assets, and liquid alternative investments. In addition, Cliffwater may provide investment advice for some clients on a broad range of traditional strategies, primarily in connection with its alternative investment services. Beyond its role in sourcing investments, conducting due diligence, gaining access for clients and monitoring risks, Cliffwater has both the experience and analytical tools to help clients integrate alternative investment allocations into their overall portfolio.
              Cliffwater is an independent firm, registered as an investment advisory firm with the SEC. Offices are located in Los Angeles and New York City.</p>
            </div>
            <div class="col-sm-3">
              <img _ngcontent-c1="" alt="Generic placeholder image" class="" height="200" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" style="
    vertical-align: baseline;
">
            </div>
          </div>
    </div>
      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Hedge Funds</h2>
            <p class="desc">Cliffwater's client largely invest directly in hedge funds, diversified by style, including market neutral, credit, distressed, event driven, equity long/short, macro and multi-strategy funds.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Private Equity</h2>
            <p class="desc">Cliffwater's philosophy is to identify a select group or private equity partnerships managed by firms that Cliffwater believes can produce first quartile investment returns.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
            <h2>Real Assets</h2>
            <p class="desc">Cliffwater combines private and public investments to achieve a diversified global real assets portfolio that is intended to have a low correlation with public equities, a significant real return, and a high correlation to inflation.</p>
            <p><a class="btn btn-primary" href="#" role="button">View details »</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166cdecfa56%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166cdecfa56%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166cdecfba3%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166cdecfba3%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_166cdecfbad%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_166cdecfbad%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.125%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="width: 500px; height: 500px;">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>© 2017-2018 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>
    </main>