/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

.overflow-hidden {
    overflow: hidden;
}

.carousel-caption h1 {
    font-size: 4.2rem;
    font-weight: 500;
    display: inline-block;
    position: relative;
}

.carousel-caption h3 {
    font-size: 1.313rem;
    max-width: 500px;
    //margin: 10px auto 0;
}

.container.marketing, .container.aboutUs{
	padding-top:30px;
}

.container.marketing p.desc{
	min-height:120px;
}

.btn-primary{
	background-color: #123448;
	border:#123448;
}

.display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
}
.display-5 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
}
.mbr-text {
    font-style: normal;
    line-height: 1.6;
}
.carousel-caption {
    top: 50%;
    right: 0;
    bottom: auto;
    left: 0;
    display: flex;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bg-grey{
	background-color: #f6f6f6;
}

.aboutUs .container{
	padding: 50px 10px;
	margin:0 auto;
}
.aboutUs p{
	color: #818181;
}
.aboutUs h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 15px;
}

.aboutUs h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
}